<nav class="navigation-container">
    <object type="image/svg+xml" data="assets/images/icons8-menu.svg" />
    <img src="assets/images/icon.png" class="icon" />
    <h1>Notes-App</h1>
    <div class="icons">
        <object type="image/svg+xml" data="assets/images/icons8-search.svg" />
        <object type="image/svg+xml" data="assets/images/icons8-synchronize.svg" />
        <object type="image/svg+xml" data="assets/images/icons8-settings.svg" />
    </div>
</nav>